# Кодировка

AddDefaultCharset utf-8

# Запрет на просмотр директорий

Options All -Indexes

<FilesMatch '\.(json)$'>
	<IfModule mod_headers.c>
		Header set Access-Control-Allow-Origin *
	</IfModule>
</FilesMatch>

# Content Security Policy

<IfModule mod_headers.c>
# Header set Strict-Transport-Security 'max-age=31536000; includeSubDomains; preload' env=HTTPS

Header set Content-Security-Policy "default-src 'self'; \
 frame-ancestors 'self' https://*.twg.host https://twg.host https://gdjams.ru; \
 child-src 'self' https://www.google.com; \
 style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; \
 font-src 'self' https://fonts.gstatic.com; \
 img-src 'self' data:; \
 script-src 'self' 'unsafe-inline' https://recaptcha.net https://www.gstatic.com https://static.cloudflareinsights.com"
</IfModule>
